@font-face{
  font-family: Grav;
  src: url(./Assets/Gravity-Regular.otf);
}

@font-face {
  font-family: High;
  src: url(./Assets/built\ titling\ bd.otf);
}

:root{
  --color-bdark: #0a1854;
  --color-green: #ccfd54;
  --color-bclear: #6290c2;
  --color-white: #fff;
  --font-main: Grav;
  --font-second: High;
}

body{
  text-align: center;
  font-family: var(--font-main);
  background-color: var(--color-bclear);
  font-size: 2rem;
  
}

.container{
  background-color: var(--color-bdark);
  color: var(--color-white);
  width: 20rem;
  height: 10rem;
  margin: 4rem auto;
  padding: 44px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container button{
  background-color: var(--color-green);
  color: var(--color-bdark);
  font-size: 2rem;
  border-radius: 16px;
  box-shadow:1px 1px .2em var(--color-bclear);
}

.container button:hover {
  background-color: var(--color-bclear);
  color: var(--color-green);
}


