@font-face{
  font-family: Grav;
  src: url(./Assets/Gravity-Regular.otf);
}

@font-face {
  font-family: High;
  src: url(./Assets/built\ titling\ bd.otf);
}

:root{
  --color-bdark: #0a1854;
  --color-green: #ccfd54;
  --color-bclear: #6290c2;
  --color-white: #fff;
  --font-main: Grav;
  --font-second: High;
}

body{
  text-align: center;
  font-family: var(--font-main);
  background-color: var(--color-bdark);
  color: var(--color-white);
}
